<h1>Listing web_visitors</h1>

<table>
  <tr>
    <th>Web property</th>
    <th>Uid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @web_visitors.each do |web_visitor| %>
  <tr>
    <td><%= web_visitor.web_property_id %></td>
    <td><%= web_visitor.uid %></td>
    <td><%= link_to 'Show', web_visitor %></td>
    <td><%= link_to 'Edit', edit_web_visitor_path(web_visitor) %></td>
    <td><%= link_to 'Destroy', web_visitor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Web visitor', new_web_visitor_path %>
