<h1>
  Events for
  <%= link_to @web_property.name, @web_property %>
</h1>

<table>
  <tr>
    <th>Visitor</th>
    <th>Page</th>
    <th>Referrer</th>
    <th>Browser time</th>
    <th>Data</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td>
      <%= link_to event.web_visitor.uid, web_property_web_visitor_path(
              event.web_property, event.web_visitor) %>
    </td>
    <td>
      <%= link_to event.page.url, web_property_web_page_path(
              event.web_property, event.page) %>
    </td>
    <td>
      <%= link_to event.referrer.url, web_property_web_page_path(
              event.web_property, event.referrer) %>
    </td>
    <td><%= event.browser_time %></td>
    <td><%= event.data.to_json %></td>
    <td>
      <%= link_to 'Details',
                  web_property_event_path(event.web_property, event) %>
    </td>
  </tr>
<% end %>
</table>
