<p id="notice"><%= notice %></p>

<p>
  <b>Web property:</b>
  <%= @event.web_property.name %>
</p>

<p>
  <b>Visitor:</b>
  <%= link_to @event.web_visitor.uid,
          web_property_event_path(@event.web_property, @event.web_visitor) %>
</p>

<p>
  <b>Visitor IP:</b>
  <%= @event.ip %>
</p>

<p>
  <b>Page:</b>
  <%= @event.page.url %>
</p>

<p>
  <b>Referrer:</b>
  <%= @event.referrer.url %>
</p>

<p>
  <b>Browser:</b>
  <%= @event.browser_ua %>
</p>

<p>
  <b>Browser time:</b>
  <%= @event.browser_time %>
</p>

<p>
  <b>Screen:</b>
  <%= @event.screen_width %> x <%= @event.screen_height %> : <%= @event.color_depth %> bpp
</p>

<p>
  <b>Page:</b>
  <%= @event.document_width %> x <%= @event.document_height %>
</p>

<p>
  <b>Window offset:</b>
  <%= @event.window_x %> , <%= @event.window_y %>
</p>

<p>
  <b>Data:</b>
  <%= @event.data.to_json %>
</p>


<%= link_to 'Back', web_property_events_path(@event.web_property) %>
