<p id="notice"><%= notice %></p>

<p>
  <b>Web property:</b>
  <%= @event.web_property.name %>
</p>

<p>
  <b>Visitor:</b>
  <%= link_to @event.web_visitor.uid, @event.web_visitor %>
</p>

<p>
  <b>Page:</b>
  <%= @event.page.url %>
</p>

<p>
  <b>Referrer:</b>
  <%= @event.referrer.url %>
</p>

<p>
  <b>Browser time:</b>
  <%= @event.browser_time %>
</p>

<p>
  <b>Data:</b>
  <%= @event.data.to_json %>
</p>


<%= link_to 'Back', events_path %>
