<!DOCTYPE html>
<html>
<head>
  <title>Pwnalytics</title>
  <%= csrf_meta_tag %>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <script type="text/javascript">
  <%= PwnalyticsJS::PwnalyticsJS.insertion_js(new_event_url, 'AA123456').
                                 html_safe %>
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
